<div class="container">
  <!--ngNativeValidate is used to disable form in case of error in DOM-->
  <form ngNativeValidate novalidate #registerForm="ngForm" (ngSubmit)="submitForm(registerForm)" style="background-color:slategrey">
    <div class="col-md-6" style="margin:5px">
      <div class="col-md-6">
        <h2>Login</h2>
        <h5>All fields are mandatory</h5>
        <div class="form-group">
          <div class="form-group">
            <div style="text-align:left">
              <label>Full Name:</label>
            </div>
            <div class="col; input-group">
              <input type="text" name="fullName" #fullName="ngModel" placeholder="Enter Full Name" class="form-control" ngModel required />
            </div>
            <div *ngIf="fullName.errors && (fullName.touched || fullName.dirty)" style="text-align:left;padding-top:5px;color:red">
              <div [hidden]="fullName.errors.required">
                Enter Full Name
              </div>
              <!--when nothing is typed in control it remains pristine as soon as
            something entered it becomes entered for ever(until the the page
            is refreshed again)-->
            </div>
          </div>
          <div class="form-group">
            <div style="text-align:left">
              <label>Email:</label>
            </div>
            <div class="col; input-group">
              <input (input)="checkEmail(emailRef.value)" class="form-control" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" type="email" #emailRef="ngModel" placeholder="Enter email Id" name="email" ngModel required />
            </div>
            <div *ngif="isEmailRegistered">
              Email Already Registered
            </div>
            <div *ngIf="emailRef.errors && (emailRef.touched || emailRef.dirty)" style="text-align:left;padding-top:5px;color:red">
              <div [hidden]="!emailRef.errors.required">
                Emial is mandatory
              </div>
              <div [hidden]="!emailRef.errors.pattern">
                Emial format is not correct
              </div>
            </div>
          </div>
          <div class="form-group">
            <div style="text-align:left">
              <label>Password:</label>
            </div>
            <div class="col; input-group">
              <input type="password" name="password" #passRef="ngModel" placeholder="Enter Password" class="form-control" ngModel required />
            </div>
            <div *ngIf="passRef.errors && (passRef.touched || passRef.dirty)" style="text-align:left;padding-top:5px;color:red">
              <div [hidden]="passRef.errors.required">
                Password is mandatory
              </div>
              <!--when nothing is typed in control it remains pristine as soon as
            something entered it becomes entered for ever(until the the page
            is refreshed again)-->
            </div>
          </div>
          <div class="form-group">
            <div style="text-align:left">
              <label> Confirm Password:</label>
            </div>
            <div class="col; input-group">
              <input type="password" name="cpassword" #cpassRef="ngModel" placeholder="Confirm Password" class="form-control" ngModel required />
            </div>

            <div *ngIf="cpassRef.errors && (cpassRef.touched || cpassRef.dirty)" style="text-align:left;padding-top:5px;color:red">
              <div *ngIf="cpassRef.value!=passRef.value">Password didn't match</div>
              <div [hidden]="cpassRef.errors.required">
                Confirm the Password
              </div>
              <!--when nothing is typed in control it remains pristine as soon as
            something entered it becomes entered for ever(until the the page
            is refreshed again)-->
            </div>

          </div>
          <div class="form-group" style="text-align:left">
            <button type="submit" class="btn">Submit</button>
          </div>
        </div>
      </div>
      <div class="col-md-6" style="margin:5px">
      </div>
    </div>
  </form>
  
</div>
